*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgb(10, 10, 10);
    color: white;
}

p{
    font-size: 1.3rem;
    padding: 0 1rem;
}

ul{
    list-style: none;
}

h2{
    font-size: 10vh;
    text-align: center;
    margin: 5%;
}

h3{
    font-family: 'ubuntu',serif;
    font-size: 1.7rem;
    margin: 0.5rem;
    color: black;
    background: rgb(160, 115, 215);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
    letter-spacing: 2px;
}

header{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

header h1, header p{
    position: relative;
    z-index: 1;
    margin: 1rem;
    text-align: center;
}

header h1{
    font-family: 'merriweather',serif;
    font-size: 9vh;
}

header p{
    font-size: 1.5rem;
}

.solar-system-overview{
    width: 100%;
}


.solar-system-overview h2{
    font-size: 3rem;
    margin: 1rem;
    text-align: left;
}

#nyan-cat img{
    position: relative;
    height: 3rem;
    object-fit: cover;
    animation: float 3s infinite ease-in-out;
}

.swiper {
    margin: 2rem auto ;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img{
    width: 20%;
    padding: 0 5%;
    object-fit: cover;
}

article:hover{
    border-radius: 10px;
    border: 2px solid #dabff9;
}

article p{
    padding: 0.5rem;
}

article img{
    height: 15rem;
    min-height: 12rem;
    object-fit: cover;
    object-position: center;
    animation: float 3s infinite ease-in;
}

.planet, .moon{
    border-radius: 2px;
    padding: 1rem;
    width: 50%;
    margin: 1.5rem auto;
}

.planet ul li{
    font-size: 1.3rem;
    padding: 0 0.5rem;
}

.align{
    display: flex;
    align-items: center;
    justify-content: center;
}

.moons{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.moon{
    margin: 1rem auto 0 auto;
    border: none;
    width: 80%;
}

.solar-system-objects article{
    width: 70%;
    padding: 1rem;
    margin: 1rem auto;
}

.solar-system-objects h3{
    font-size: 1.5rem;
}
.solar-system-objects img{
    width: 70%;
}

.footer{
    width: 100%;
    border-top: 5px solid white;
    text-align: center;
    margin-top: 5%;
}

.footer p{
    padding: 1rem;
    font-weight: bold;
}

@keyframes float{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}

@media(max-width:600px){
    header h1{
        font-size: 7vh;
    }
    .planets h2, .moons h2, .solar-system-objects h2{
        font-size: 7vh;
    }
    .planet{
        width: 80%;
    }
}

@media(max-width:650px){
    header h1{
        font-size: 8vh;
    }
}

@media(max-width:900px){
    .planet,.moon{
        width: 70%;
    }
}

@media(max-width:1250px){
    .moons{
        grid-template-columns: 1fr;
    }
}